/*Pixel font*/
@font-face {
  font-family: pixelfont;
  src: url(Retro\ Gaming.ttf);
}

body {
    /*Background color*/
    background-color: rgb(240, 209, 98);

    #titles{
        display:flex;
        justify-content: center;
        font-size: large;
        font-family: pixelfont;
        letter-spacing: 3px;
        line-height: 0.2;
        color: floralwhite;
        text-shadow: 4px 4px 0px #010000, 2px 3px 0px #010000, 4px 5px 0px #010000, 4px 6px 0px #010000;

    }

    /*The "I'm Soffie" line - extra things*/
    #name{
        /*text-decoration: underline;*/
        display:flex;
        justify-content: center;
        font-size: large;
        font-family: pixelfont;
        letter-spacing: 3px;
        line-height: 0.2;
        color: floralwhite;
        text-shadow: 4px 4px 0px #010000, 2px 3px 0px #010000, 4px 5px 0px #010000, 4px 6px 0px #010000;
        font-size:x-large;
    }

    /*my picture*/
    #soffiepic{
        width: 300px;
        height: auto;
        margin:auto;
        display:flex;
    }

    #toc{
        /*font things*/
        font-family: pixelfont;
        text-align: left;
        color: floralwhite;
        text-shadow: 4px 4px 0px #010000, 2px 3px 0px #010000, 4px 5px 0px #010000, 4px 6px 0px #010000;
        font-size: 110%;

        /*box*/
        float:left;
        width: 550px;
        height:870px;
        padding:40px;
        margin-left:75px;
        background-color: rgb(191, 52, 52);

        header:hover{
            color: rgb(240, 209, 98);
        }
        header{
            font-size: x-large;
            margin-top: 5%;
        }

    }

    #content{
        font-family: pixelfont;
        float:right;
        color: black;

        /*box*/
        float:left;
        width: 650px;
        padding:40px;
        background-color: floralwhite;

        position:relative;
        overflow-y: auto;
        max-height: 870px;

        header{
            font-size: x-large;
            margin-top: 5%;
        }

        p{
            font-size: 120%;
        }
    }


    #poppie_beachball{
        width: 300px;
        padding-top: 2%;
    }
}



/*I got the shadow effect from Martavis P. on Stack Overflow! Thank you!*/