/*Pixel font*/
@font-face {
  font-family: pixelfont;
  src: url(Retro\ Gaming.ttf);
}

html{
    /*scrollbars*/
    scroll-behavior:smooth;
    ::-webkit-scrollbar{
        width: 10px;
        height: 2px;
    }
    ::-webkit-scrollbar-thumb{
        background: black;
    }
    min-width: 100px;
}

body {
    /*Background color*/
    background-color: rgb(240, 209, 98);

    #titles{
        display:flex;
        justify-content: center;
        font-size: large;
        font-family: pixelfont;
        letter-spacing: 3px;
        line-height: 0.2;
        color: floralwhite;
        text-shadow: 4px 4px 0px #010000, 2px 3px 0px #010000, 4px 5px 0px #010000, 4px 6px 0px #010000;
        background-color: rgb(191, 52, 52);
        width: 320px;
        margin:auto;
    }

    /*The "I'm Soffie" line - extra things*/
    #name{
        /*text-decoration: underline;*/
        display:flex;
        justify-content: center;
        font-size: large;
        font-family: pixelfont;
        letter-spacing: 3px;
        line-height: 0.2;
        color: floralwhite;
        text-shadow: 4px 4px 0px #010000, 2px 3px 0px #010000, 4px 5px 0px #010000, 4px 6px 0px #010000;
        font-size:x-large;
        min-width: 500px;
        background-color: rgb(191, 52, 52);
        margin:auto;
        width: 520px;

    }

    /*my picture*/
    #soffiepic{
        width: 300px;
        height: auto;
        margin:auto;
        display:flex;
    }

    #welcomeoverlay{
        font-family: pixelfont;
        color:floralwhite;
        background:scroll;
        background-color: black;
        font-size: 20px;
        text-align: center;

        min-width: 335px;
        min-height: 30px;
        width: 35px;
        height: 1.2px;
        
        /*center*/
        margin:auto;
    }

    /*Table of Contents*/
    #toc{
        /*Font things*/
        font-family: pixelfont;
        text-align: left;
        color: floralwhite;
        text-shadow: 4px 4px 0px #010000, 2px 3px 0px #010000, 4px 5px 0px #010000, 4px 6px 0px #010000;
        font-size: 110%;

        /*Box*/
        float:left;
        height:960px;
        padding:40px;
        margin-left:75px;
        background-color: rgb(191, 52, 52);
        border: 4px solid black;

        header:hover{
            color: rgb(240, 209, 98);
        }
        header{
            font-size: x-large;
            margin-top: 5%;
        }

    }
    /*Make the hyperlinks the right color*/
    a:link, a:visited{
        color: floralwhite;
        text-decoration: none;
    }
    a:hover, a:active{
        color: rgb(240, 209, 98);
        text-decoration: none;
    }

    /*Right-side sections - content*/
    #content{
        font-family: pixelfont;
        float:right;
        color: black;
        border: 4px solid black;

        /*Box*/
        scroll-behavior:smooth;
        float:left;
        padding:40px;
        background-color: floralwhite;
        position:relative;
        overflow-y: auto;
        height: 960px;

        /*Headers of each topic properties*/
        header{
            font-size: 170%;
            margin-top: 5%;
        }

        /*Paragraph properties*/
        p{
            font-size: 1.4vw;
        }

        /*Tiny pictures and titles*/
        #titleimage{
        width:8vw;
        margin-right: 10px;
        }
        .container{
        display:flex;
        align-items:flex-start;
        gap: 2vw;
        }
        #jobtitle{
            padding-bottom: -21px;
            font-size: 1.3vw;
            margin-bottom: -0.3px;
            margin-top: 0.9vw;
            margin-left: 4px;
        }
        #years{
            font-size:1.05vw;
            margin:4px;
            font-style: italic;
        }
        #jobdesc{
            font-size: 1vw;
            margin-bottom: -10px;
            margin-top:2px;
            margin-left: 4px;
        }
        #description{
            font-size:1.3vw;
        }
        .words{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

    }

    /*Box's scroller*/
    #content.scroller{
        scrollbar-color: black;
    }
}
#poppie_beachball{
        width: 100vw;
        padding-top: 0%;
        padding-left: -60%;
        min-width: 200px;
    }





    /*Modify Proportions for Resized Window*/
    body {
    #content{
        width:43vw;
        height: 960px;
    }
    #toc{
        width:31vw;
        height: 960px;
    }

    /*First resize*/
    @media (max-width: 1420px) {
        #toc{
            float: none;
            margin:auto;
            height: 70vw;
            margin-bottom: 20px;
        }
        #content{
            width: 70vw;
            float:none;
            margin:auto;
            padding: 40px;
            height: 70vw;
            p{
                font-size:1.9vw;
            }
            #jobtitle{
                font-size: 1.9vw;
                margin-top:-1px
            }
            #years{
                font-size: 1.6vw;
            }
            #jobdesc{
                font-size:1.5vw;
                margin-bottom: 4px;
            }
            #description{
                font-size:1.8vw;
            }
        }
    }
    /*Smallest resize*/
     @media (max-width: 1320px) {
        #toc{
            font-size: 1.5vw;
            min-width: 210px;
            height: 80vw;
            header{
            font-size: 2.2vw;
            }
        }

        #content{
    
            min-width: 210px;
            font-size: 1.6vw;
            height: 80vw;
        }
    
    }
}


/*I got the shadow effect from Martavis P. on Stack Overflow! Thank you!*/