/*Pixel font*/
@font-face {
  font-family: pixelfont;
  src: url(Retro\ Gaming.ttf);
}

@font-face {
    font-family: morifont;
    src: url(PPMori-Regular.otf);
}

@font-face {
    font-family: boldmorifont;
    src: url(PPMori-SemiBold.otf);
}

html{
    /*scrollbars*/
    scroll-behavior:smooth;
    ::-webkit-scrollbar{
        width: 10px;
        height: 2px;
    }
    ::-webkit-scrollbar-thumb{
        background: black;
    }
    min-width: 100px;
}

h2{
    font-family: pixelfont;
    text-align: center;
    color: floralwhite;
    background-color: #3776ED;
    width: 420px;
    margin-left: auto;
    margin-top:-5px;
    margin-right: auto;
}
#welcome-banner{
    display: flex;
    background-color: #ef5ea2;
    align-items: center;
    justify-content: center;
    margin: 60px;
    border: 4px solid black;
    border-radius: 49px;
    min-width: 400px;
}
#welcome-banner-text{
    display: inline;
}

body {
    /*Background color*/
    /*background-color: rgb(240, 209, 98);*/
    background-color: #ffd167;

    #titles{
        display:flex;
        justify-content: center;
        font-size: 1vw;
        font-family: pixelfont;
        letter-spacing: 3px;
        line-height: 0.2;
        color: floralwhite;
        width: auto;
        margin:auto;
        border-radius: 26px;
    }

    /*The "I'm Soffie" line - extra things*/
    #name{
        /*text-decoration: underline;*/
        display:flex;
        justify-content: center;
        font-family: boldmorifont;
        line-height: 0.001;
        margin-bottom: 20px;
        color: floralwhite;
        font-size:40px;
        background-color: #3776ED;
        width: 40vw;
        font-size: 3vw;
        padding-top: 11px;
        padding-bottom: -10px;
        border-bottom: 9px solid black;
        border-right: 9px solid black;
        border-radius: 49px;
    }

    /*my picture*/
    #soffiepic{
        width: 30vw;
        height: auto;
        position: relative;
    }

    #welcomeoverlay{
        font-family: pixelfont;
        color:floralwhite;
        background-color: rgb(19, 19, 19);
        font-size: 1.1vw;
        padding-bottom: 1vw;
        text-align: center;

        min-height: 2vw;
        width: 36vw;
        height: 1.2px;
        
        /*cente7*/
        margin-left:auto;
        margin-right: auto;
        margin-top:5px;
    }

    /*Table of Contents*/
    header{
            font-size:1.3vw;
            margin-top: 5%;
            margin-left:3px;
            font-family: pixelfont;
            position: flex;
            text-align: center;
        }
    
    .pinklinks{
        font-size: 3vw;
        background-color: #ef5ea2;
        width:100vw;
        margin-left: auto;
        margin-right: auto;
        color: floralwhite;
    }
    .pinksubheader{
        margin-top: 10px;
        font-family: pixelfont;
        text-align: center;
        margin-bottom: -20px;
        font-size: 1.3vw;
    }
    a:hover{
            color: #FFA914;;
        }
    a{
        color: floralwhite;
    }

    #toc header{
        margin: 0;
        padding-top:55px;
        font-size: 1.rem;
    }

    #toc{
        /*Font things*/
        position: relative;
        font-family: pixelfont;
        color: floralwhite;
        /*Box*/
        padding:1vw;
        height: 2vw;
        background-color: #3776ED;
        /*border: 4px solid black;*/
    }
    /*Make the hyperlinks the right color*/
    a:link, a:visited{
        text-decoration: none;
    }

img{
  width: 20vw;
  height: 100%;
  object-fit: cover;
}
    

    /*Right-side sections - content*/
    #project:hover, #activity:hover{
        background-color: #3776ED;
        color:floralwhite;
        cursor: pointer;
    }
    
    #project_cards a,
    #activities_cards a, #writing_cards a{
        display: block;
        color: black;
        text-decoration: none;
    }
    
    #project_cards a:visited,
    #activities_cards a:visited, #writing_cards a:visited {
        color: black;
    }

    .statement{
        font-family: morifont;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        background-color: floralwhite;
        padding: 15px;
        border-radius: 25px;
    }
    .pic{
        width: 200px;
        height: 200px;
        background-color: floralwhite;
        border: 4px solid black;
        border-radius: 25px;
        margin-left: 20px;
    }
    .aboutcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 20px 0;
        font-size: 1.5vw;
    }

    .pic{
        height: auto;
        width: 4px;
    }
    .container{
        font-family:morifont ;
        display:flex;
        flex-direction: column;
        background-color: floralwhite;
        border:4px black solid;
        border-radius: 49px;
        justify-content: flex-start;
        padding: 10px;
        overflow: hidden;
    }
    .header-row{
        display:flex;
        align-items:center;
        gap: 2vw;
    }
    #titleimage{
        width:8vw;
        margin-top: 4px;
        margin-left: 10px;
    }
        

    #content{
        font-family: pixelfont;
        float:right;
        color: black;
        border: 4px solid black;

        /*Box*/
        scroll-behavior:smooth;
        float:left;
        padding:40px;
        background-color: floralwhite;
        position:relative;
        overflow-y: auto;
        height: 960px;

        /*Headers of each topic properties*/
        header{
            font-size: 170%;
            margin-top: 5%;
        }

        /*Paragraph properties*/
        p{
            font-size: 1.4vw;
        }

        /*Tiny pictures and titles*/
    }
            
        #jobtitle{
            font-family: boldmorifont;
            padding-bottom: -21px;
            font-size: 1.5vw;
            margin-bottom: -0.3px;
            margin-top: 0.9vw;
            margin-left: 4px;
        }
        #years{
            font-size:1.05vw;
            margin:4px;
            font-style: italic;
        }
        #jobdesc{
            font-size: 1vw;
            margin-bottom: -10px;
            margin-top:2px;
            margin-left: 4px;
        }
        #description{
            width:40px;
            font-size:1.2vw;
        }
        .words{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .description{
            font-size:1.2vw;
            margin-top: 0.5rem;
            text-align: center;
            padding-left: 17px;
            padding-right: 17px;
            overflow: hidden;
            word-wrap: break-word;
            line-height: 1.4;
        }
        .links{
            font-family: boldmorifont;
            font-size: 1.8vw;
            border: 2px solid black;
            padding: 10px;
            border-radius: 24px;
        }
        .links:hover{
            color: floralwhite;
            background-color:#3776ED;
        }
}

#project_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
    padding-left: 85px;
    padding-right: 85px;
    color: black;
}
#activities_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 1rem;
    padding-left: 85px;
    padding-right: 85px;
    gap:2rem;
}
#writing_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 1rem;
    padding-left: 85px;
        padding-right: 85px;
    gap:2rem;
}

#poppie_beachball{
    margin:auto;
    display: flex;

        padding-top: 0%;
        padding-left: -60%;
        min-width: 200px;
    }





    /*Modify Proportions for Resized Window*/
    #content{
        width:52vw;
        height: 960px;
    }
    #toc{
        display: flex;
        width: 80vw;
        flex-direction: row;
        justify-content: flex-start;
        height: 1vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
    }
    #toccontents{
        display: flex;
        flex-direction: row;
        gap: 4.2vw;
        padding-left: 40px;
        margin-top: -55px;
        align-items: center;
        justify-content: center;
    }

    /*First resize*/
    @media (max-width: 1220px) {
        /*Contents table*/


        /*Content*/
        
            p{
                font-size:2.35vw;  
            }
            #jobtitle{
                font-size: 2.5vw;
                margin-top:-6px
            }
            #years{
                font-size: 2vw;
            }
            #jobdesc{
                font-size:1.7vw;
                margin-bottom: 4px;
            }
            .description{
                font-size:2.4vw;
            }
            .links{
                font-size: 2.5vw;
            }
            .links:hover{
                color: floralwhite;
                background-color:rgb(191, 52, 52)
            }
        
        #project_cards{
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            padding-left: 40px;
            padding-right: 40px;
        }
        #activities_cards{
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            padding-left: 40px;
            padding-right: 40px;
        }
        #writing_cards{
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            padding-left: 40px;
            padding-right: 40px;
        }
        #poppie_beachball{
            width:90vw;
        }
    }
    /*Smallest resize*/
     /* @media (max-width: 1320px) {
        
        #project_cards{
            grid-template-columns: 1fr;
            gap: 1rem;
            padding-left: 20px;
            padding-right: 20px;
            width: 35vw;
            margin-left: auto;
            margin-right: auto;
        }
        #activities_cards{
            grid-template-columns: 1fr;
            gap: 1rem;
            padding-left: 20px;
            padding-right: 20px;
            width: 35vw;
            margin-left: auto;
            margin-right: auto;
        }
        #writing_cards{
            grid-template-columns: 1fr;
            gap: 1rem;
            padding-left: 20px;
            padding-right: 20px;
            width: 35vw;
            margin-left: auto;
            margin-right: auto;
        }
    
    }



I got the shadow effect from Martavis P. on Stack Overflow! Thank you! */